{% extends 'secure.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Check Email{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-5"><img class="bg-img-cover bg-center" src="{{ asset('resources/images/check.jpg') }}"
                                   alt="Login page"></div>
        <div class="col-xl-7 p-0">
            <div class="login-card">
                <div class="col-sm-12 col-xl-6">
                    <div class="card card-absolute b-primary">
                        <h5 class="text-white"></h5>
                        <div class="card-header bg-white b-primary">
                            <h5 class="text-white"><a href="{{ path('home') }}" class="text-success">
                                <span><img src="{{ asset('resources/logo/Logo-Mamias-web.png') }}" alt="MAMIAS 3.0"
                                           height="36"></span>
                                </a></h5>
                        </div>
                        <div class="card-body">
                            <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- END HOME -->

{% endblock %}
{% block javascripts %}
    <script>
        var resizefunc = [];
    </script>

{% endblock %}
