{% extends "secure.html.twig" %}
{% block title %}Email Confirmation{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="row ">
        <div class="col-xl-5 p-0"><img class="bg-img-cover bg-center"
                                       src="{{ asset('resources/images/activation.jpg') }}" alt="Account Activation">
        </div>
        <div class="col-xl-7 p-0">
            <div class="login-card">

                <div class="card">
                    <div class="card-header b-l-primary border-3">
                        <h5>Account Activation</h5>
                    </div>
                    <div class="card-body">
                        <p class="text-custom">
                        <h5 class="text-primary">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</h5></p>
                    </div>
                </div>


                <div class="row m-t-20">
                    <div class="col-sm-12 text-center">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

