{% extends 'base.html.twig' %}

{% block title %}Occurence Reporting{% endblock %}

{% block body %}

    <h4> Terms & Conditions</h4>

    <p>
        Thank you for visiting our site www.mamias.org ("the Site").</p>

    <p>We hope that you enjoy your visit, but you should be aware that your use of the Site is regulated by
        these
        Terms and Conditions. Browsing the Site will constitute acceptance of the Terms and Conditions, so
        if you do not
        accept them either in whole or in part, you should stop using the Site immediately. You should also
        make yourself
        aware of our Disclaimer. We may vary the Terms and Conditions from time to time and any such changes
        will take
        effect from the date of posting on the Site. Your continued use of the Site indicates your
        acceptance of any changes
        which we may make to the Terms and Conditions.</p>

    <p>Throughout the Terms and Conditions, when we refer to 'we', 'us', 'our' etc, we are referring to
        SPA/RAC.
        When we refer to 'you' we are referring to the user or browser of the Site.</p>

    <p>We will be happy to answer any questions which you may have regarding these Terms and Conditions. You
        can contact us
        by completing <a href="{{ path('contact') }}">the contact form</a> or any of the other contact
        methods listed on
        the contact page of our Site. We are committed to protecting the privacy of anyone who uses the Site
        and any
        personal data which we obtain from you as a result of any enquiries will be processed in terms of
        our Privacy Policy.</p>

    <h5>1. Agreement</h5>
    Accessing or viewing the Site constitutes your acceptance to these Terms and Conditions. If you do not
    accept these Terms and Conditions you should EXIT the Site immediately.

    <h5>2. Copyright</h5>
    The content of this Site (except where otherwise stated) is copyright © OSPAR Commission. This includes
    any text, scripts, applets, images, and graphics. You may print or download the content of this site for
    you own personal use only but all such prints and/or downloads should acknowledge that the material is
    copyright © OSPAR Commission where appropriate. You may cache or store material from the Site for
    private on - or off - line browsing purposes only.

    The distribution or copying of the content of the Site or any part of the Site for any commercial
    purpose is specifically prohibited other than with the express written consent of OSPAR Commission. A
    written licence for commercial distribution or copying may be obtained on request on such terms and at
    such costs as we may determine.

    Any trade mark, service mark or other intellectual property contained in or relating to this site are,
    unless otherwise explicitly stated, the property of OSPAR Commission. The use of such trade marks,
    service marks or other intellectual property by users or viewers of this site is strictly forbidden.

    <h5>3. Newsletters and Event Information</h5>
    If you wish to be kept informed of forthcoming events and product releases, or if you wish to receive
    our newsletter, please complete the contact form on our Site. All personal data which you provide to us
    will be processed in accordance with our Privacy Policy.

    <h5>4. Exclusions</h5>
    SPA/RAC shall not be liable to you (whether directly or indirectly and whether as a result of negligence
    or otherwise) in respect of any losses or damage which you may incur as a result of your use of the
    Site. We would advise that you read the terms of our Disclaimer. We have taken, and will continue to
    take, all reasonable steps to ensure that the Site and all information which is published on the Site
    (including all newsletters) is accurate. We cannot however guarantee:
    <ul>
        <li>that material, information or data obtained from or through this site is complete, accurate or
            not an infringement
            of any party's intellectual or other property rights.
        </li>
        <li>that material, information and data submitted via this site will be fully secure.</li>
        <li>that material, information and data obtained from or through this site will meet your
            requirements.
        </li>
        <li>that your access to or use of this site will be uninterrupted, timely or error-free or that
            defects in information contained on this site will be corrected.
        </li>
    </ul>
    Please <a href="{{ path('contact') }}">contact us</a> and let us know if you are aware of any
    inaccuracies, and steps will be taken to correct them.

    <h5>5. Hyperlinks</h5>
    This Site may contain hyperlinks to websites operated by other parties. These links are suggested for
    information only and our inclusion of hyperlinks to such websites does not imply any endorsement of
    views, statements or information contained in such websites. Care is advised in visiting any external
    sites linked from this Site. No liability is accepted for any information contained on any external
    site. If you consider that the content of any external site linked from this Site is illegal, immoral or
    offensive please advise OSPAR Commission using any of the contact methods listed on our contact page.

    You should remember that when you link to another site, the terms of use of the external linked site
    will apply and not the terms of use of this Site.

    <h5>6. Alteration of Terms and Conditions</h5>
    SPA/RAC reserves the right to update or modify these Terms and Conditions. Any changes to these terms
    and Conditions will be posted on this Site.

    <h5>7. Complaints</h5>
    If you have any cause for complaint about this Site please <a href="{{ path('contact') }}">contact
    us</a>.

    <h5>8. Severance</h5>
    If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be
    struck out and the remaining provisions shall remain in force.

    <h5>9. General</h5>
    Your statutory rights are not affected.

    <h5>10. Jurisdiction</h5>
    This Agreement shall be governed by and construed in accordance with the law of Tunisia, and each of the
    parties submits to the exclusive jurisdiction of the courts of Tunisia.
    </p>
{% endblock %}
